@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-image: url("../img/merlin_171156351_5f7aaa07-39f4-4e2b-af28-8270ac4e2d47-superJumbo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body .stats-container {
  color: white;
  padding: 50px 60px;
  font-size: 1.8em;
  margin-top: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  text-shadow: black 1px 1px;
  border-radius: 15px;
  border: solid 5px;
  border-color: whitesmoke;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body .stats-container .country {
  margin-bottom: 20px;
  font-size: 1.8em;
  text-align: center;
  font-weight: 900;
}

body .stats-container .symbol {
  font-size: .6em;
  margin-right: 10px;
}

body .stats-container .confirmed, body .stats-container .deaths, body .stats-container .population {
  margin-left: 10px;
}

body .stats-container form {
  margin: 10px 0;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .stats-container form input {
  height: 30px;
  font-size: 18px;
  padding-left: 5px;
}

body .stats-container form button {
  height: 30px;
  font-size: 16px;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
  text-align: center;
}

body .stats-container form button:hover {
  background-color: crimson;
  -webkit-transition: .5s;
  transition: .5s;
}

body .stats-container ul {
  list-style: none;
}

body .stats-container ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .liveAlertCl {
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media only screen and (max-width: 600px) {
  .stats-container {
    padding: 20px 20px !important;
  }
  .liveAlertCl {
    width: 70vw !important;
    -webkit-transform: translateX(22%) !important;
            transform: translateX(22%) !important;
  }
}
/*# sourceMappingURL=style.css.map */